.container-text{
  display: inline-block;
}
.ani-text{
  font-size: 2em;
  letter-spacing: 10px;
  font-weight: bolder;
  border-right: 5px solid;
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: 
           typing 2s steps(30),
           cursor .4s step-end infinite alternate;
   
}

/*cursor blinking*/
@keyframes cursor {
  50% {border-color: transparent }
  
}

/* typing effect */
@keyframes typing {
  from {width: 0}
  
}

.second{
    height:430px;
    background-color: black;
    background-position: right;
    background-size: 100%;
    background-attachment: fixed;
}
#third{
    background-color: black;
    height: auto;
}
#third p{
    font-weight: bolder;
}
#sixth{
  background-color: rgba(189, 219, 246, 0.634);
  height: auto;
}
.button-style{
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 15px; 
    text-decoration: none; 
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-shadow: -10px -10px white;

}
.picture {
    position: relative;
    width: 70%;
  }
.image {
    display: block;
    width: 100%;
    height: 200px;
}
.middle {
  position: absolute;
  top: 50;
  bottom: 0;
  left: 50;
  right: 50;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(218, 241, 251, 0.941);

  }
  .picture:hover .image {
    opacity: 0.3;
  }
  
  .picture:hover .middle {
    opacity: 1;
  }
  
.text{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



